services:
  api:
    build:
      context: ../apps/api
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      APP_ENV: dev
      DATABASE_URL: postgresql+psycopg://postgres:postgres@db:5432/incidents
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - db
      - redis
    volumes:
      - ../apps/api:/app

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: incidents
    ports:
      - "5433:5432"
    volumes:
      - incidents_pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    

volumes:
  incidents_pgdata:
